.search-column{
    background-color:	#d3d3d3;
}

.selected-city{
    padding-bottom: 20px;
}

.list-group-item{
    line-height: 0.5;
    border: none;
}

.five-day-forecast{
    padding-top: 20px;
}

.card-body{
    flex:auto
}

span.severe {
    padding: 3px;
    background-color: red;
    color:white;
}

span.moderate {
    padding: 3px;
    background-color: yellow;
}

span.favorable {
    padding: 3px;
    background-color: green;
    color:white;
}

footer {
    text-align: center;
    padding-top: 200px;
}